.comcontainer {
   * {
      color: white;
   }

   .parentcom {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px 0 0 20px;

      .parentcomcontainer {
         display: flex;
         gap: 10px;

         .left {
            .imgdiv {
               display: block;
               height: 37.5px;
               width: 37.5px;

               img {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
               }
            }
         }

         .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            .rightcom {
               display: flex;
               flex-direction: column;
               gap: 5px;
               width: 100%;
               padding-right: 15px;

               .names {
                  display: flex;
                  align-items: center;
                  gap: 5px;

                  .who {
                     background: black;
                     font-size: 13px;
                     padding: 3px 7.5px;
                     border-radius: 10px;
                  }

                  span {
                     font-weight: 600;
                     font-size: 16px;
                  }
               }

               p {
                  font-size: 13.5px;
                  font-weight: 400;
               }

               .bottom {
                  padding: 10px 0;
                  display: flex;
                  width: 100%;
                  align-items: center;
                  justify-content: space-between;

                  .btns {
                     display: flex;
                     align-items: center;
                     gap: 5px;

                     button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        span {
                           font-size: 14px;
                           color: #BABABA;
                        }
                     }

                     .dislikeandlike {
                        border-radius: 7px;
                        background: #181818;
                        padding: 4px 5px;
                        display: flex;
                        align-items: center;

                        button:first-child {
                           padding: 0px 10px 0px 5px;
                           border-right: 1px solid #BABABA;
                        }

                        button:last-child {
                           padding: 0px 5px 0px 10px;
                        }
                     }

                     .com {
                        background: #181818;
                        padding: 4px 10px;
                        display: flex;
                        align-items: center;
                        border-radius: 7px;
                     }
                  }

                  .date {
                     font-size: 13px;
                     color: #BABABA;
                  }
               }
            }
         }
      }
   }
}

.checkreplies {
   * {
      color: white;
   }

   padding: 12.5px 70px 12.5px 70px;
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;

   .checkcommentscontainer {
      cursor: pointer;
      font-size: 13px;
      display: flex;
      align-items: center;
      gap: 10px;

      .textcontainer {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-bottom: 3px;
         border-bottom: 1px solid #BABABA;

         span {
            color: #BABABA;
         }
      }
   }
}

.hidecomment {
   display: flex;
   gap: 10px;
   align-items: center;

   .textcontainer {
      padding-bottom: 3px;
      border-bottom: 1px solid #BABABA;

      span {
         color: #BABABA;
         font-size: 15px;
      }
   }
}

// =================================== REPLY COMMENT ===================================
.replycommentdiv {
   padding: 15px 15px 12.5px 0;

   * {
      color: white;
   }

   .replycommentdivcontainer {
      margin-left: 50px;

      form {
         display: flex;
         align-items: center;
         gap: 20px;
         justify-content: space-between;

         .left {
            .imgdiv {
               display: flex;
               justify-content: center;
               align-items: center;
               max-width: 35px;
               min-width: 35px;
               min-height: 35px;
               max-height: 35px;

               img {
                  max-width: 35px;
                  min-width: 35px;
                  min-height: 35px;
                  max-height: 35px;
                  border-radius: 50%;
               }
            }
         }

         .mid {
            width: 100%;

            .inpdiv {
               border: 1px solid #b9b9b9;
               padding: 7px 15px;
               border-radius: 15px;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;

               input {
                  width: 90%;
               }
            }
         }

         .right {
            display: flex;
            gap: 10px;
            align-items: center;

            .closereply {
               display: flex;
               justify-content: center;
               align-items: center;
               min-width: 30px;
               min-height: 30px;
               max-width: 30px;
               max-height: 30px;
               border-radius: 50%;
               border: 2px solid #BABABA;
               color: #BABABA;
            }

            display: flex;
            align-items: center;
         }
      }
   }
}

.rightcomtopdiv {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
