.main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.container {
   border: 1px solid #3B3B3B;
   background: #1f1f1f;
   display: flex;
   flex-direction: column;
   gap: 19px;
   padding: 20px 30px;
   width: 23vw;
   border-radius: 30px;

   @media (max-width: 1400px) {
      width: 350px;
   }

   .title,
   .subtitle {
      text-align: center;
   }

   .title {
      font-size: 2vw;

      @media (max-width: 1300px) {
         font-size: 25px;
      }
   }

   .subtitle {
      color: #BABABA;
   }
}

.submit {
   background: linear-gradient(to right,#FF7C03 0%,#FF7C03 50%,#FF2E00 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   border-radius: 15px;
   transition: all .1s ease;

   &:disabled {
      background: #ff880054;
      color: rgba(255, 255, 255, 0.551);
      cursor: not-allowed;
   }
}

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.have {
   font-size: 14px;
}

.redirect {
   font-size: 14px;
   font-weight: 600;
}